{% extends 'panel/_layouts/base.html' %}
{% block content %}
<h1 class="page-header">Quick Access</h1>
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
                    <a href="{% url 'panel:getEmployeeList' %}">
                        <div class="btn btn-lg btn-success" >
                            <h1><span class="fa fa-sign-in"></span></h1>
                            <span>List Employees</span>
                        </div>
                    </a>
                </div>
            </div>
{% endblock %}