{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="author" content="Marcos Maia">
        <meta name="description" content="Panel App">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>Test - Admin Panel</title>

        <link rel="stylesheet" type="text/css" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static '/fontawesome/css/font-awesome.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static '/css/dashboard.css' %}">
        <!-- Google Fonts -->
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic,700italic|Montserrat:400,700">
    </head>
    <body>
        <section id="form" class="form-section transparent" data-type="background" data-parallax="yes">
            <div class="overlay section-padding" style="background: white;">
                <div class="container">
                    <h1 class="section-title text-center text-uppercase"><span> Admin Panel</span> Login</h1>
                    <!-- /.section-description -->
                    <div class="top-padding-50"></div>
                    <!-- /.col-md-8 -->
                    <div class="col-md-8 col-md-offset-2 col-sm-12">
                        <div class="form-container">
                            <form id="login" method="post" action="{% url 'panel:login' %}" class="login-form">{% csrf_token %}
                                <div id="msg">
                                {% if not login_data.ok %}
                                    <span class="text-danger"><center>{{ login_data.error }}</center></span>
                                {% for error in login_data.error_list %}
                                    <span class="text-danger"><center>{{ error }}</center></span>
                                {% endfor %}
                                {% endif %}
                                </div>
                                <div class="form-group">
                                    <label for="login">Username</label>
                                    <input type="text" class="form-control" id="username" name="username" placeholder="Username" required />
                                </div>

                                <div class="form-group">
                                    <label for="senha">Password</label>
                                    <input type="password" class="form-control" id="pass" name="pass" placeholder="*******" required />
                                    <input type="hidden" id="password" name="password"/>
                                </div>
                                <button type="button" id="loginButton" class="btn btn-default btn-lg"> <span class="fa fa-sign-in"></span> Log in</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script type="text/javascript" src="{% static '/jquery/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static '/js/core.js' %}"></script>
        <script type="text/javascript" src="{% static '/bootstrap/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static '/js/sha256.js' %}"></script>
        <script type="text/javascript" src="{% static '/js/dashboard.js' %}"></script>
        <script type="text/javascript">
            $('#loginButton').on('click', login);
            
            function login(e){
                var password = $('#pass').val();
                var username = $("#username").val();
                username = username.replace(" ", "")
                
                if(username == "" || password == ""){
                    $('#msg').html('<span class="text-danger"><center>Username and Password can not be empty.</center></span>');
                    return false;
                } else {
                    $('#msg').html('');
                }
                
                var hash = CryptoJS.SHA256(password);
                var pass = hash.toString();
                $('#password').val(pass);
                $('#pass').val('');
                $('#login').submit();
            }
        </script>
    </body>
</html>

