{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="author" content="Marcos Maia">
        <meta name="description" content="Panel App">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>Panel App</title>

        <link rel="stylesheet" type="text/css" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static '/fontawesome/css/font-awesome.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static '/css/dashboard.css' %}">
        <!-- Google Fonts -->
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic,700italic|Montserrat:400,700">
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="">Panel App</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'panel:getEmployeeList' %}">Employee List</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">{{ user_data.name }}</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
    </body>
    <script type="text/javascript" src="{% static '/jquery/jquery.js' %}"></script>
    <script type="text/javascript"  src="{% static '/js/jquery.cookie.js' %}"></script>
    <script type="text/javascript"  src="{% static '/js/core.js' %}"></script>
    <script type="text/javascript" src="{% static '/bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/sha256.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/dashboard.js' %}"></script>
    {% block scripts %}
    {% endblock %}
</html>
