{% load static %}
{% block scripts %}
<script type="text/javascript" src="{% static '/jquery/jquery.js' %}"></script>
<script type="text/javascript" src="{% static '/bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static '/js/dashboard.js' %}"></script>
{% endblock %}