{% extends 'panel/_layouts/base.html' %}
{% block content %}

<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width:400px;" >
        <div style="background-color:white;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalDeleteLabel">Atenção</h4>
            </div>
            <div class="modal-body" id="modalDeleteText">
            </div>
            <div id="confirmaStatus" class="modal-footer">
                <a href="#" id="modalDeleteButton" class="btn btn-danger" data-dismiss="modal">Sim</a>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Não</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="employee_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <form id="employee_form" action="" class="form-horizontal" role="form" method="post">
        {% csrf_token %}
        <input type="hidden" name="token" value="{{ user_data.token }}">
        <input type="hidden" name="employee_id" id="employee_id" value="">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">New Employee</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="control-label" for="name">Name</label>
                                <div class="input-control text" data-role="input-control">
                                    <input class="form-control" type="text" id="name" name="name">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="control-label" for="email">Email</label>
                                <div class="input-control text" data-role="input-control">
                                    <input class="form-control" type="text" id="email" name="email">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="control-label" for="departament">Departament</label>
                                <div class="input-control text" data-role="input-control">
                                    <input class="form-control" type="text" id="departament" name="departament">
                                </div>
                            </div>
                        </div>
                        <div id="msg">
                        </div>
                    </div>
                    <br>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="saveButton" class="btn btn-primary">
                        Save
                    </button>
                    <button type="button" id="closeModal" class="btn btn-default" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
        
<div class="row">
    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
        <a href="#" data-toggle="modal" data-target="#employee_modal">
            <div class="btn btn-lg btn-success" >
                <h1><span class="fa fa-sign-in"></span></h1>
                <span>New Employee</span>
            </div>
        </a>
    </div>
</div>
<h3 class="sub-header">Employee List</h3>
<div class="row">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Departament</th>
                    <th>Created</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                {% if employee_list.ok %}
                    {% for employee in employee_list.data %}
                        <tr>
                            <td>{{ employee.name }}</td>
                            <td>{{ employee.email }}</td>
                            <td>{{ employee.departament }}</td>
                            <td>{{ employee.created }}</td>
                            <td>
                                <a class="blue editButton" href="#" data-id="{{ employee.employee_id }}">
                                    <i class="ace-icon fa fa-search-plus bigger-130"></i>
                                </a>
                                
                                <a class="red delbutton" href="#" data-id="{{ employee.employee_id }}" data-name="{{ employee.name }}" data-toggle="modal" data-target="#modalDelete" >
                                    <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    $(window).ready(function () {
        loadingInit();
    });
    
    $(document).on('click', '.delbutton', function(){
        delButtonModal($(this));
    });
    
    $(document).on('click', '.editButton', function(){
        find($(this).data('id'))
    });
    
    $('#employee_form').on('submit', save);
    
    function find(employee_id){
        $.ajax({
            type: 'GET',
            url: 'api/getemployee/'+employee_id,
            beforeSend: function (xhr) {
                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            },
            success: function (response) {
                try {
                    console.log(response);
                    if(typeof response !== 'object'){
                        response = jQuery.parseJSON(response);
                    }
                    if(response.ok){
                        $('#name').val(response.data.name)
                        $('#email').val(response.data.email)
                        $('#departament').val(response.data.departament)
                        $('#employee_id').val(response.data.employee_id)
                        $('#employee_modal').modal('show');
                    } else {
                        alert(response.error)
                    }
                    loadingHide();
                } catch(err) {
                    alert('Something strange happened, please try again.')
                    console.log(err);
                    console.log(err.responseText);
                    loadingHide();
                }
            },
            error: function(xhr, status, error){
                alert('Something strange happened, please reload and try again.')
                console.log(xhr);
                console.log(status);
                console.log(error);
                loadingHide();
            }
        });
    }
    
    function save(e){
        e.preventDefault();
        loadingShow();
        $('#msg').html('');
        var data = new FormData(e.target);
        $.ajax({
            type: 'POST',
            url: '{% url 'panel:addEditEmployeeApi' %}',
            data: data,
            contentType: false,
            processData: false,
            success: function (response) {
                try {
                    console.log(response);
                    if(typeof response !== 'object'){
                        response = jQuery.parseJSON(response);
                    }
                    if(response.ok){
                        window.location.reload();
                    } else {
                        var error = '';
                        error += '<span class="text-danger"><center>'+response.error+'</center></span>';
                        $('#msg').html(error);
                    }
                    loadingHide();
                } catch(err) {
                    var error = '';
                    error += '<span class="text-danger"><center>Something strange happened, please try again.</center></span>';
                    $('#msg').html(error);
                    console.log(err);
                    console.log(err.responseText);
                    loadingHide();
                }
            },
            error: function(xhr, status, error){
                var error = '';
                error += '<span class="text-danger"><center>Something strange happened, please reload and try again.</center></span>';
                $('#msg').html(error);
                console.log(xhr);
                console.log(status);
                console.log(error);
                loadingHide();
            }
        });
    }
    
    function delButtonModal(button){
        $('#modalDeleteText').html('Really delete ' + button.data('name') + '?');
        $('#modalDeleteButton').attr('onclick', 'remove("'+button.data('id')+'")');
        $('#modalDelete').toggle();
    }
    
    function remove(id) {
        $.ajax({
            type: 'DELETE',
            url: 'api/removeemployee/'+id,
            beforeSend: function (xhr) {
                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            },
            success: function (data) {
                try {
                    console.log(response);
                    if(typeof response !== 'object'){
                        response = jQuery.parseJSON(response);
                    }
                    if(response.ok){
                        window.location.reload();
                    } else {
                        var error = '';
                        error += '<span class="text-danger"><center>'+response.error+'</center></span>';
                        $('#msg').html(error);
                    }
                    loadingHide();
                } catch(err) {
                    var error = '';
                    error += '<span class="text-danger"><center>Something strange happened, please try again.</center></span>';
                    $('#msg').html(error);
                    console.log(err);
                    console.log(err.responseText);
                    loadingHide();
                }
            },
            error: function(xhr, status, error){
                var error = '';
                error += '<span class="text-danger"><center>Something strange happened, please reload and try again.</center></span>';
                $('#msg').html(error);
                console.log(xhr);
                console.log(status);
                console.log(error);
                loadingHide();
            }
        });
    }
    
</script>
{% endblock %}